logtbl.c
Debug/
capemon.opensdf
capemon.sdf
capemon.v11.suo
capemon.v12.suo
bson/bson.sdf
bson/bson.v11.suo
bson/bson.v12.suo
bson/bson.vcxproj.user
logtbl.pyc
capemon.vcxproj.user
bson/Release
objects
Release
tests/logging-test.*
*.suo
*.opendb
*.VC.db
.vs/*
