logtbl.c
Debug/
cuckoomon.opensdf
cuckoomon.sdf
cuckoomon.v11.suo
cuckoomon.v12.suo
bson/bson.sdf
bson/bson.v11.suo
bson/bson.v12.suo
bson/bson.vcxproj.user
logtbl.pyc
cuckoomon.vcxproj.user
bson/Release
objects
Release
tests/logging-test.*
*.suo
*.opendb
*.VC.db
.vs/*
